body{
    background-color: lightslategray;
}
.h1class{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.h2 style{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}